html {
    height: 100%;
    box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Heebo", sans-serif;
  color: rgba(0,0,0,0.7);
}


div {
  border: 2px solid grey;
  font-family: "Heebo", sans-serif;
}

.div-button {
  color: blue;
  transition: color 0.5s;
}

.div-button:hover {
  color: red;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#heloitustunnukset_column {
  width: 25%;
  float: left;
}

p {
  transition: color 0.3s;
  padding-left: 2px;
  padding-right: 2px;
}

#laskentatulos{
    width: 20%;
    float: left;
}

div:hover {
  color:rgba(0,0,0,1);
}

.dropdown {
  background-color: lightgrey;
  position: relative;
  display: inline-block;
  min-width: 200px;
  text-align: center;
  vertical-align: middle;
  font-family: "Heebo", sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: inherit;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px;
  z-index: 1;
  text-align: inherit;
}

.dropdown-content p {
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
  transition: background-color 0.2s;
  width: inherit;
}

.dropdown-content p:hover{
  background-color: grey;
}


.dropdown:hover .dropdown-content {
  display: block;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: lightgrey;
    text-align: center;
}

.property-item-container{
  display: flex;
}


